@font-face {
	font-family: 'Nazanin';
	src: url('font/iransans.eot') format('eot'),
		url('font/iransans.woff') format('woff'),
		url('font/iransans.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
body, html {
    padding:0px;
    margin:0px;
    font-family: "Nazanin" !important;
    line-height: 1.8;
    text-align: right;
    font-size: 18px;
    cursor: context-menu;
    background-color: #ffffff;
    overflow-x: hidden;
    color: gray;
}
a,p,h1,h2,h3,h4,h5,h6 {
    font-family: "Nazanin";
}
::-moz-selection { 
    color: white;
    background: #EA1E63;
}

::selection {
    color: white;
    background: #EA1E63;
}
img {
    width: 100%;
}
nav {
    background-color: #EA1E63;
}
.logo {
    height: 50px;
}
.right-align {
    text-align: right;
}
.navbar-nav {
    float: right;
}
.navbar-nav li a {
    color: white;
}
.icon-bar {
    background-color: white;
}
.special-margin-top {
    margin-top: 70px;
}
.center {
    text-align: center;
}
.my-margin-top {
    margin-top: 15px;
}
.big-square {
    background-color: #5BB0E2;
    color: white;
    margin:  -15px 0px 5px 5px;
    min-height: 305px;
    padding: 0px 10px;
    border-radius: 2px;
}
.square {
    min-height: 120px;
    /*padding: 0px 10px;*/
    margin: 5px 10px 5px -15px;
    border-radius: 2px;
}
.calendar-p{
    font-size: 44px;
}
.calendar {
    background-color: #EA1E63;
    color: white;
    padding: 5px 0px;
    border-radius: 2px;
    box-shadow: 0px 2px 8px gray;
}

.calendar h3 {
    margin-top: 5px;
}
.calendar-container::before {
    content: '';
    display: inline-block;
    border-bottom: 30px solid #EA1E63;
    border-left: 30px solid transparent;
    position: absolute;
    top: 143px;
    right: 25px;
}
.calendar::after {
    content: '';
    display: inline-block;
    border-top: 30px solid gray;
    border-right: 30px solid transparent;
    position: absolute;
    top: 144px;
    right: 24px;
}
.shadow {
    box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
    -webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
}
.shadow i {
    -webkit-transition: text-shadow 1s; /* Safari */
    transition: text-shadow 1s;
}
.shadow h3{
    -webkit-transition: text-shadow 0.5s; /* Safari */
    transition: text-shadow 0.5s;
}
.shadow:hover {
    box-shadow: 10px 10px 25px rgba(0,0,0,0.4);   
}
.shadow:hover h3{
    text-shadow: 3px 3px 15px rgba(0,0,0,0.4);
}
.search {
    background-color: #EA1E63;
    color: white;
}
.search i{
    font-size: 50px;
    vertical-align: middle;
    margin-top: 15%;
}
.search-form h1,.result-search h1{
    font-size: 20px;
}
.ins-container {
    min-height: 200px;
    width: 100%;
    margin: 0 15px 0 10px;
    position: relative;

    border-radius: 2px;
}
.ins-info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0,0,0,0.4);
    transition: height 1s, display 1s;
    text-align: center;
}
.ins-info h3 {
    color: white;
    margin: 0;
    padding: 0;
}
.ins-info a {
    color: white;
    text-decoration: none;
}
.ins-info p {
    color: white;
    display: none;
}
.ins-info a:hover {
    color: #099CD8;
}
.ins-container:hover .ins-info{
    height: 100%;
}
.ins-container:hover .ins-info p{
    display: block;
}
.padding-right{
    padding-right: 30px;
}
.subject {
    min-height: 200px;
    background-color: orange;
    margin: 0 10px 5px;
    color: white;
    border-radius: 2px;
    position: relative;
}
.subject i{
    font-size: 87px;
    margin-top: 28px;
    color: white;
    transition: transform 1s, text-shadow 1s;
}
.checking {
    position: absolute;
    top: 0;
    right: 17px;
    font-size: 54px !important;
    color: #EA1E63 !important;
    display: none;
}
.span-search {
    background-color: rgba(255,255,255,0.3);
    color: white;
    margin: 0 10px;
    padding: 0 5px;
    list-style-type: none;
}
.searchLink:hover {
    background-color: rgba(0,0,0,0.4);
}
.subject:hover i {
    transform: rotatey(180deg);
    text-shadow: 3px 3px 15px rgba(0,0,0,0.4);
}
footer{
    background-color: #333333;
    color: white;
    margin-top: 15px;
}
footer li{
    list-style-type: none;
    padding-right: 25px;
}
footer a{
    color: white;
}
footer i{
    font-size: 40px !important;
    margin: 0 10px;
    cursor: pointer;
}
.my-well {
    width: 96%;
    display: block;
    margin: 20px auto;
    position: relative;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
    animation: loading 1s;
}
.my-well .result-container {
    background-color: white;
    
    min-height: 10px;
}
.result-container p {
    padding: 0 15px;
}
.result-container i{
    padding: 0 2px;
}
.special-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer
}
.extra-info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    min-height: 100%;
    width: 100%;
    color: white;
    display: none;
    animation: loading 1s;
}
.my-well a {
    color: gray;
}
.my-well a:hover{
    color: gray;
    text-decoration: none;
}
.unfilter {
    width: 100%;
}
.filter {
    position: absolute;
    width: 0%;
    top: 54px;
    right: 0;
    color: black;
    background-color: white;
    height: 60vh;
   display: none;
}
.form-control {
    text-align: right;
}
.result-pic{
    height: 250px;
    width: 95%;
    margin: 0 auto;
    display: block;
}
.nav-tabs > li{
    float: right;
}
.nav-tabs > li > a{
    color: white;
    background-color: #ff471a;
}
.nav-tabs> li > a:hover {
    background-color: #ff471d;
}
.tab-pane {
    margin-top: 30px;
    margin-right: 30px;
}
.search-form {
    width: 0%;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1111;
}
.search-form i{
    color: white;
}
.search-form .subject, .result-search .subject {
    min-height: 100px;
}
.search-form .subject i, .result-search .subject i{
    font-size: 24px;
}
.search-form label{
    color: white;
    font-weight: normal;
}
.pointer {
    cursor: pointer
}
.tab-container {
    min-height: 30vh;
}
#canvas, #text {
    top: 4px;
    left: 21px;
}
.compaire {
    display: none;
    padding: 0 150px;
}
.fa-star {
    color: #F4CE01;
}
@keyframes loading {
    from {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0);
    display: none;
     }
    to {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
    display: block;
    }
}
@-webkit-keyframes loading{
    from {
    -ms-transform: scale(0, 0); 
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    display: none;
     }
    to {
    -ms-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1.); 
    transform: scale(1, 1);
    display: block;
    }
}
.unload{
    animation: unloading 1s;
}
@keyframes unloading {
    from {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
    display: block;
     }
    to {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0);
    display: none;
    }
}
@-webkit-keyframes unloading{
    from {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1); 
    transform: scale(1, 1);
    display: block;
     }
    to {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0); 
    transform: scale(0, 0);
    display: none;
    }
}
#map {
    width: 90%;
    display: block;
    margin: 10px auto;
    height: 250px;
}
.search-scroll {
    height: 335px;
    overflow-y: scroll;
    position: relative;
    margin-top: 5px;
}
.selected {
    background-color: rgba(0,0,0,0.4) !important;
    color: white;
}
.contact-icon {
    font-size: 40px;
    padding: 10px 15px;
    border: 1px solid #EA1E63;
    border-radius: 50%;
    color: #EA1E63;
}
.contact-info {
    margin-top: 5px;
}
label {
    direction: rtl;
}
@media screen and (max-width:1024px){
    .subject {
        margin: 0 -7px 5px;
    }
}
@media screen and (max-width: 768px){
    .navbar-toggle {
        top: -45px;
        right: 10px;
    }
    .logo {
        width: 36%;
        margin: 0 auto;
        display: block;
    }
    
    .search-scroll {
        height: 100px;
    }
    .checking {
        right: 88px;
        font-size: 40px !important;
    }
    
    .search-form h1, .filter h1{
        font-size: 15px !important;
    }
    
    .search {
        margin: 10px auto;
    }
    .search i {
        margin-top: 7%;
        font-size: 70px;
    }
    .shadow {
        margin: 10px auto;
    }
    .special-margin-top {
        margin-top: 102px;
    }
    .calendar-container::before{
        right: 25px;
        top: 144px;
    }
    .calendar::after {
        right: 25px;
    }
    .unfilter .shadow {
        margin: 10px auto;
    }
    .ins-container {
        margin: 10px auto;
    }
    .search-form .shadow{
        margin: 0 -13px;
    }
}
@media screen and (max-width: 760px){
    .compaire {
        padding:  0 50px;
    }
    .my-padding {
        padding: 0 25px;
    }
    .padding-right {
        padding: 0 25px;
    }
    .search-form .shadow{
        margin: 0 -25px;
    }
    .left-one {
        position: absolute;
        top: 17px;
        left: 45px;
    }
    .right-one{
        position: absolute;
        top: -24px;
        right: 45px;
    }
}